<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://unpkg.com" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/@knadh/oat@0.4.2/oat.min.css" integrity="sha384-EiPu+AAphRl2eiZSbpgo90qW7gR25JIE2Y/cBTXls0GULcsrkFQlAsqG+4jIgJ3i" crossorigin="anonymous">
  <script src="https://unpkg.com/@knadh/oat@0.4.2/oat.min.js" defer integrity="sha384-YtefLjzDWOG8oeyctstjDI1pTxGbBgUE4xDFGdEe2Nh9b7CbWy46h/FbYH2YnArx" crossorigin="anonymous"></script>
  <title>{% block title %}Payment Links{% endblock %}</title>
</head>
<body>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
